/* .vertical-nav ul {
  list-style: none;
  padding: 0;
}

.vertical-nav li {
  margin-bottom: 10px;
}

.vertical-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.vertical-nav a:hover {
  background-color: #f0f0f0;
}

.FiSearch-div {
  padding-left: 10px;
}

.FiSearch {
  font-size: 20px;
  cursor: pointer;
} */
